# Dependencies
node_modules/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.build/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
.terraform/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
*.pem
